{{#with main}}

<div>
<main>
    {{> title data="My education" big=true}}
    <section>
      <ul>
   {{#each educations}}
            <li> 
              {{name}} 
              {{#unless isEnd}} (ще в процесі) {{/unless}}
            </li>
   {{/each}}
    </ul>
    </section>
    {{> title data="My certificates"}}
    <section> 
      <ul>
        {{#each certificates}}
        <li>
          {{name}}
          ({{id}})
        </li>
        {{/each}}
      </ul>
    </section>
</main>
</div>

{{/with}}